{% extends 'base.html.twig' %}

{% block title %}Too-Doo{% endblock %}

{% block body %}
<style>

body{
  background-color: #EEEEEE;
}
.cadre-todo {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.note-cadre {
  margin-bottom: 20px;
}

.note-text-cadre .note-text {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.ajout, .dropdown-toggle{
  background-color: #E76F51;
  border-color: #E76F51;
  height: 40px;
  color: white;
  width: 50%;
}

.ajout:hover, .dropdown-toggle:hover {
  background-color: #C95A44;
  border-color: #C95A44;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon, .delete-icon {
  width: 16px;
  height: 16px;
  border: none;
}
</style>

{% include "/components/profil-user.html.twig" %}

<div class="cadre-todo">
  {# {% include "/components/header.html.twig" with {'jourDate': jourDate, 'heure': heure} %} #}

  <div class="note-cadre">
    <form action="{{ path('create_task') }}" method="post">
      <div class="note-text-cadre mb-3">
        <input type="text" name="titre" value="" class="note-text form-control" placeholder="ex: Aller chez mamie">
      </div>
      <div class="form-controls d-flex justify-content-between mb-3">
        <div class="dropdown flex-fill me-2">
          <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Quand ça ?
          </button>
          <ul class="dropdown-menu w-100" aria-labelledby="dateDropdown">
            {% for day in array_day %}
              <li><button class="dropdown-item" type="button" onclick="selectDate('{{ day.first }}')">{{ day.first }}</button></li>
              <li><button class="dropdown-item" type="button" onclick="selectDate('{{ day.second }}')">{{ day.second }}</button></li>
              <li><button class="dropdown-item" type="button" onclick="selectDate('{{ day.third }}')">{{ day.third }}</button></li>
              <li><button class="dropdown-item" type="button" onclick="selectDate('{{ day.fourth }}')">{{ day.fourth }}</button></li>
              <li><button class="dropdown-item" type="button" onclick="selectDate('{{ day.fifth }}')">{{ day.fifth }}</button></li>
            {% endfor %}
          </ul>
        </div>
        <input type="hidden" name="jourDate" id="hiddenDateInput">
        <button type="submit" class="btn btn-primary ajout">Ajouter</button>
      </div>
    </form>
  </div>

  <div class="note-list">
    <p>Liste anti procrastination :</p>
    <ul class="list-group">
      {% for task in tasks %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <h5 class="mb-1">{{ task.titre }}</h5>
            <small>{{ task.jourDate }}</small>
          </div>
          <div>
            <a href="{{path('editTask',{'id':task.id})}}" class="btn btn-outline-secondary btn-sm me-1">
              <img src="{{ asset('/image/edit.png') }}" alt="editIcon" class="edit-icon">
            </a>
            <a href="{{ path('delete_task', {'id': task.id}) }}" class="btn btn-outline-danger btn-sm">
              <img src="{{ asset('/image/delete.png') }}" alt="deleteIcon" class="delete-icon">
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  function selectDate(date) {
    document.getElementById('hiddenDateInput').value = date;
    document.getElementById('dateDropdown').textContent = date;
  }
</script>


{% endblock %}
