{# {% extends 'base.html.twig' %} #}

{% block title %}Too-Doo{% endblock %}

{% block body %}
<style>
body{
  background-color: #EEEEEE;
}
.cadre-todo {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.note-cadre {
  margin-bottom: 20px;
}

.note-text-cadre .note-text {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.ajout, .dropdown-toggle{
  background-color: #E76F51;
  border-color: #E76F51;
  height: 40px;
  color: white;
  width: 50%;
}

.ajout:hover, .dropdown-toggle:hover {
  background-color: #C95A44;
  border-color: #C95A44;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon, .delete-icon {
  width: 16px;
  height: 16px;
  border: none;
}
</style>

   
  <div class="cadre-todo">

     {% include "/components/header.html.twig" with{'jourDate':jourDate, 'heure':heure} %}

      <div class="note-cadre">

        <form action="{{path('app_home', {'id':task.id})}}" method="post">
              <div class="note-text-cadre">
                <input type="text" name="titre" value="{{task.titre}}" class="note-text" id="titre">
              </div>         

                <button type="submit" class="btn">
                    <img src="{{asset('/image/ok.png')}}" alt="icon" style="position: absolute;">
                 </button>

                 <select name="jourDate" class="date-select-choice" id="selectChoice" onclick="onSelect()">

                     <option>{{task.jourDate}}</option>

                    {% for day in array_day %}
                        <option value="{{day.first}}">{{day.first}}</option>
                        <option value="{{day.second}}">{{day.second}}</option>
                        <option value="{{day.third}}">{{day.third}}</option>
                        <option value="{{day.fourth}}">{{day.fourth}}</option>
                        <option value="{{day.fifth}}">{{day.fifth}}</option>                   
                    {% endfor %}                    

                 </select>                



          </form>
      </div>




  </div>

</div>

<script>

<script>
 function onSelect()
 {
   var select= document.getElementById('selectChoice').value
   if(select.length !==0)
   {
      document.getElementById('selectChoice').className="date-select-choice"
   }   
   else
   {
      document.getElementById('selectChoice').className="date-select"
   } 
 }  
</script>
{% endblock %}
