{# {% extends 'base.html.twig' %} #}

{% block title %}Too-Doo{% endblock %}

{% block body %}
<style>
.cadretodo {
  width: 100%;
}
   

  
   
</style>

   
  <div class="cadre-todo">
       
     {% include "/components/header.html.twig" with{'jourDate':jourDate, 'heure':heure} %}
     
      <div class="note-cadre">

        <form action="{{path('edit_task', {'id':task.id})}}" method="post">
              <div class="note-text-cadre">
                <input type="text" name="titre" value="{{task.titre}}" class="note-text" id="titre">
              </div>
                         
                <button type="submit" class="btn">
                    <img src="{{asset('/image/ok.png')}}" alt="icon" >
                 </button>

                 <select name="jourDate" class="date-select-choice" id="selectChoice" onclick="onSelect()">
                    
                     <option>{{task.jourDate}}</option>
                    
                    {% for day in array_day %}
                          <option value="{{day.first}}">{{day.first}}</option>
                        <option value="{{day.second}}">{{day.second}}</option>
                        <option value="{{day.third}}">{{day.third}}</option>
                        <option value="{{day.fourth}}">{{day.fourth}}</option>
                        <option value="{{day.fifth}}">{{day.fifth}}</option>
                   
                    {% endfor %}
                 </select>  
          </form>
      </div>
  </div>
</div>

<script>
 function onSelect()
 {
   var select= document.getElementById('selectChoice').value
   if(select.length !==0)
   {
      document.getElementById('selectChoice').className="date-select-choice"
   }   
   else
   {
      document.getElementById('selectChoice').className="date-select"
   } 
 }  
</script>
{% endblock %}
